.custom-padding1 {
    padding-top: 30px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
}

.custom-padding2 {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
}
